html{
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #00539F;
}

.welcome-page{
 font-size: 60px;
  color: rgb(170, 20, 150);
  text-align: center;
  margin: 20;
}
p, li{
 font-size: 20px;
 font-family: arial;
 line-height: 2;
 letter-spacing:1px;
 
}

body{
  width: 900px;
  margin: 0px;
  background-color: #FF9500;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
  

}

hl{
  margin: 0px;
  padding: 20px 0;
  text-shadow: 3px 3px 1px black;
  text-align: center;
  


}

img{
  display: block;
  margin:0 auto;
  border: 5px solid black;
 
  
  
}

a{
  color: red;
}